.main{
    width:1200px;
    overflow:hiden;
    margin:0 auto;
}
.rect {
    width:957px;
    height:561px;
    padding:0 0 0 243px;
    overflow:hidden;
    margin-bottom:40px;
    .fl{
        width:714px;
        height:561px;
        overflow:hidden;
        float:left;
            .banner{
                margin-bottom: 4px;
                width: 714px;
                height: 382px;
                overflow: hidden;
                position: relative;
                .banner-slider{
                    position: relative;
                    width: 714px;
                    height: 382px;
                    overflow: hidden;

                    li{
                        overflow: hidden;
                        width: 714px;
                        height: 382px;
                        float: left;
                        a{
                            text-decoration: none;
                            outline: none;
                            cursor: pointer;
                            img{
                                width: 714px;
                                height: 382px;
                            }
                        }
                    }
                }
                .pages{
                    position: absolute;
                    left:0;
                    right:0;
                    bottom: 20px;
                    margin:0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        width: 14px;
                        height: 14px;
                        border: 2px solid #7f7b7f;
                        border-radius: 50%;
                        margin:0 5px;
                        opacity:0.5;
                    }
                    .current{
                            background: orange;  
                    }
                }
                .prev,.next{
                    width: 30px;
                    height: 60px;
                    position: absolute;
                    top:0;
                    bottom:0;
                    margin:auto;
                    display: none;
                   
                }
                .prev{
                    left: 0;
                    background: url("/../img/prev_bg.png") no-repeat center;
                }
                .next{
                    right: 0;
                    background: url("/../img/next_bg.png") no-repeat center;
                    
                }
            }
    } 
    .ad1{
    width: 355px;
    height: 175px;
    overflow: hidden;
    float: left;
        a{
            width: 355px;
            height: 175px;
            img{
            width: 100%;
            height: 100%;
            }
        }     
    }
    .ad2 {
        width: 355px;
        height: 175px;
        overflow: hidden;
        float: right;
        a{
            width: 355px;
            height: 175px;
            img{
            width: 100%;
            height: 100%;
            }
        }     
    }
    .fr{
        width: 232px;
        overflow: hidden;
        padding-top: 10px;
        float: right;
            .per_conliset{
                border: 1px solid #e5e5e5;
                margin-bottom: 14px;
                .personal{
                        margin: 0 0;
                        padding-bottom:10px;
                        margin-bottom: 10px;
                        width: 232px;
                        height: 172px;
                        overflow: hidden;
                        padding-bottom: 0;
                        border-bottom:none;
                        border-top:none;
                        .no{
                            border:none;
                            .hd{
                                padding-top: 20px;
                                height: 78px;
                                text-align: center;
                            }
                            img{
                                border-radius: 20px;
                            }
                            i{
                                display: block;
                                line-height: 24px;
                                font-size: 12px;
                                color: #333;
                            }
                            a.dl{
                                display: block;
                                text-align: center;
                                width: 200px;
                                height: 40px;
                                line-height: 40px;
                                background: #dc0f50;
                                color: #fff;
                                font-size: 16px;
                                margin: 0 auto;
                            }
                            p{
                                padding: 0 15px;
                                text-align: right;
                                a{
                                    color: #333;
                                    font-size: 12px;
                                    line-height: 31px;
                                }
                            }
                        }
                        .yes{
                            .hd{
                                height: 78px;
                                text-align: center;
                                background: #dc0f50;
                                padding-top: 22px;
                                img{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 20px;
                                    border: 1px solid #d6d3d3;
                                    i{
                                    display: block;
                                    color: #fff;
                                    font-size: 12px;
                                    line-height: 24px;
                                    }
                                }
                            }
                            ul li{
                                height: 50px;
                                overflow: hidden;
                                text-align: center;
                                width: 33%;
                                float: left;
                                &+ li{
                                    border-left: 1px solid #e5e5e5;
                                }
                                a{
                                    display: block;
                                    color: #333;
                                    font-size: 14px;
                                    cursor: pointer;
                                }
                                i{
                                    display: block;
                                }
                            }
                        }
                    }   
                    .conve-list{
                    overflow: hidden;
                    height: 141px;
                    border-top: 1px solid #e5e5e5;
                        .hd{
                            padding: 18px 0 18px 50px;
                            overflow: hidden;
                            height: 30px;
                            line-height: 30px;
                            font-size: 24px;
                            color: #666;
                            font-weight: bold;
                            background: url("/../img/mobile1.png") no-repeat 10px center;
                        }
                        ul{
                        padding: 0 10px;
                        overflow: hidden;
                            li{
                                width: 25%;
                                float: left;
                                overflow: hidden;
                                a{
                                display: block;
                                line-height: 15px;
                                color: #333;
                                text-align: center;
                                font-size: 12px;
                                    &:hover i.i1{
                                    background-position: right 0;
                                    }

                                    &:hover i.i2{
                                        background-position: right -20px;
                                    }

                                    &:hover i.i3{
                                        background-position: right -40px;
                                    }

                                    &:hover i.i4{
                                        background-position: right -60px;
                                    }               
                                    i{
                                        display: block;
                                        width: 26px;
                                        height: 20px;
                                        background: url("/../img/icon_2.png") no-repeat;
                                        margin: 2px auto;
                                        margin-bottom: 5px;

                                        &.i2{
                                        background-position: 0 -20px;
                                        }

                                        &.i3{
                                            background-position: 0 -40px;
                                        }

                                        &.i4{
                                            background-position: 0 -60px;
                                        }
                                    }
                                }
                            }
                        }
                    }   
            }
            .goods-hd{
            overflow:hidden;
                h2 {
                    height: 37px;
                    line-height: 16px;
                    overflow: hidden;
                    padding: 10px 0;
                    color: #dc0f50;
                    font-size: 16px;
                    border-top:2px solid #dc0f50;
                    text-align:center;
                    span{
                        display:block;
                        font-size: 12px;
                        line-height:24px;
                    }
                }
                ul {
                height: 152px;
                overflow: hidden;
                margin-right:-3px;
                    li {
                    width: 113px;
                    overflow: hidden;
                    float: left;
                    margin-right:3px;
                        a {
                        display: block;
                            img {
                            width: 113px;
                            height: 113px;
                            display: block;
                            margin: 0 auto;
                        }

                        i {
                            display: block;
                            margin-top: 10px;
                            background: #dc0f50;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            font-size: 12px;
                            font-size: 12px;
                            color: #fff;
                        }        
                    }
                }
            }
        }
    }                 
}     

.purchase{
    margin-bottom: 40px;
    overflow: hidden;
    height: 300px;
    position: relative;
    .live_list{
        overflow: hidden; 
        padding: 0 25px;
        height: 298px;
        width: 100000%;
        position: absolute;
        left: 0px;
        top: 0px;
        li{
            width: 200px;
            margin: 0px 22px 0 11px;
            overflow: hidden;
            float: left;
            a{
                position: relative;
                display: block;
                width: 200px;
                overflow: hidden;
                img{
                    width: 200px;
                    height: 200px;
                    display: block;
                    overflow: hidden;
                }
                span{
                    width: 60px;
                    height: 26px;
                    line-height: 26px;
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    background: #dc6c8f;
                    position: absolute;
                    right: 0;
                    top: 174px;
                }
                b{
                    display: block;
                    padding: 5px 0;
                    line-height: 21px;
                    height: 40px;
                    overflow: hidden;
                    font-size: 14px;
                    color: #333;
                }
                font{
                    display: block;
                    line-height: 24px;
                    color: #dc0f50;
                    font-size: 20px;
                    i{
                        padding: 0 8px;
                        font-size: 12px;
                        color: #999;
                        text-decoration: line-through;
                    }
                }
                strong{
                    width: 51px;
                    height: 51px;
                    padding: 4px;
                    background: #ea2e2f;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 210px;
                    font-size: 20px;
                    color: #fff;
                    line-height: 25px;
                    text-align: center;
                    font-weight: normal;
                }
            }
        }
    }
}
                
.floor {
    overflow: hidden;
    margin-bottom: 40px;
    .fl {
        width: 890px;
        overflow: hidden;
        float: left;
        height: 556px;
        .bd{
            .left {
                width: 300px;
                float: left;
                b {
                    display: block;
                    height: 376px;
                    margin-bottom: 30px;
                    overflow: hidden;
                    a img {
                        width: 100%;
                    }
                }
                p {
                    padding: 0 6px;
                    height: 108px;
                    overflow: hidden;
                    a {
                        display: block;
                        width: 80px;
                        border: 1px solid #e5e5e5;
                        height: 28px;
                        overflow: hidden;
                        float: left;
                        margin: 0 6px 15px 7px;
                        img{
                            width:100%;
                        }
                    }
                }
            }
            .right {
            width: 580px;
            float: right;
            overflow: hidden;
                .focus{
                    width: 580px;
                    height: 310px;
                    .hd{
                        width: 580px;
                        height: 310px;
                        li{
                            width: 580px;
                            height: 310px;
                        }
                    }
                }
                .num li.on {
                    background: #999;
                }
                .ad3 {
                    width: 190px;
                    height: 190px;
                    float: left;
                    overflow: hidden;
                    margin-right: 5px;
                    img{
                        width: 190px;
                        height: 190px;
                    }
                    &:last-child{
                        margin-right:0;
                    }
                }
            }
        } 
    }
    .hd {
        margin-bottom: 20px;
    }
    .bd {
        overflow: hidden;
    }
    .fr {
        float: right;
        width: 300px;
        overflow: hidden;
        height: 556px;
    }
}

/***.floor .fl .bd .right .ad4 {
    float: right;
    width: 190px;
    height: 190px;
    overflow: hidden;
}

.floor .fl .bd .right .ad4 img {
    width: 190px;
    height: 190px;
}***/

.selling{
    .hd{ 
        h2 {
            font-size: 20px;
            padding-left: 8px;
        }
    }
    .bd li {
        height: 80px;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
        margin-top: -1px;
        overflow: hidden;
        position: relative;
        padding-left: 97px;
        a {
            display: block;
            height: 80px;
            img {
                width: 80px;
                height: 80px;
                position: absolute;
                left: 0;
                top: 10px;
                i {
                    display: block;
                    width: 25px;
                    height: 25px;
                    line-height: 18px;
                    padding-left: 5px;
                    font-size: 12px;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    z-index: 10;
                    &.i1 {
                        background: url("") no-repeat;
                    }

                    &.i2 {
                        background: url("") no-repeat 0 -26px;
                    }

                    &.i3 {
                        background: url("") no-repeat 0 -52px;
                    }
                }
            }
            em {
                font-size: 20px;
                color: #dc0f50;
                line-height: 26px;
            }
        }
        b {
            display: block;
            height: 32px;
            line-height: 16px;
            overflow: hidden;
            font-size: 14px;
            color: #333;
            margin-bottom: 22px;
        }
    }
}    

        

            

        
                    

                

                    

                