.login {
    padding: 60px 70px 30px 70px;
    overflow: hidden;
    width: 1060px;
    margin: 0 auto;
    .fl {
        float: left;
        width: 448px;
        height: 336px;
        padding: 40px 0 0 0;
        overflow: hidden;
        margin-bottom: 75px;
    }
    .fr {
        float: right;
        width: 448px;
        overflow: hidden;
        height: 376px;
        margin-bottom: 75px;
        .hd {
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            a {
                display: block;
                width: 50%;
                text-align: center;
                float: left;
                cursor: pointer;
                font-size: 18px;
                color: #666;
                i {
                    display: inline-block;
                    height: 38px;
                }
                &.curr i {
                    color: #dc0f50;
                    border-bottom: 2px solid #dc0f50;
                }
            }
        }
        .bd {
            margin-top: -1px;
            overflow: hidden;
            height: 290px;
            border: 1px solid #e5e5e5;
            padding: 45px 0 0 70px;
            font {
                display: block;
                height: 40px;
                line-height: 38px;
                padding: 0 32px;
                background: url(../img/error_bg.png) no-repeat 9px 50%;
                color: #e92d2f;
                font-size: 12px;
            }
            ul li {
                overflow: hidden;
                height: 40px;
                margin-bottom: 19px;
                position: relative;
                img.d_get_code {
                    position: absolute;
                    right: 72px;
                    top: 1px;
                    width: 88px;
                    height: 38px;
                    border-left: 1px solid #d6d6d6;                
                }
                input {
                    margin-right: 16px;
                    float: left;
                    height: 28px;
                    line-height: 28px;
                    padding: 5px 0 5px 60px;
                    width: 243px;
                    border: 1px solid #d6d6d6;
                    font-size: 14px;
                    color: #666;
                    &.curr{
                        border-color: #e92d2f;
                    }
                }
                i {
                    display: block;
                    width: 18px;
                    height: 18px;
                    background: url(../img/icon01.png) no-repeat;
                    position: absolute;
                    left: 11px;
                    top: 11px;
                    &.i2 {
                        width: 14px;
                        background: url(../img/icon02.png) no-repeat;
                        left: 13px;
                    }
                }
                em{
                    display: block;
                    width: 20px;
                    height: 20px;
                    float: left;
                    background: url(../img/correct_bg.png) no-repeat;
                    margin-top: 10px;
                }
                &.curr {
                    font-size: 14px;
                    color: 666;
                    margin-top: -14px;
                }
                span {
                    float: right;
                    padding-right: 70px;
                    a{
                        color: #666;
                        font-size: 14px;
                    }
                }
                label {
                    color: #666;
                    font-size: 14px;
                    input {
                        width: 13px;
                        height: 13px;
                        border: none;
                        float: left;
                        margin-top: 5px;
                        margin-right: 5px;
                        padding: 0;
                    }
                }
                a {
                    padding-left: 10px;
                    color: #666;
                    font-size: 14px;
                    &:hover {
                        color: #c00;
                    }
                }
            }
            p {
                height: 40px;
                line-height: 40px;
                padding-right: 70px;
                a{
                    display: block;
                    background: #dc0f50;
                    text-align: center;
                    font-size: 18px;
                    color: #fff;
                    &:hover{
                        filter: alpha(opacity=90);
                        -moz-opacity: 0.9;
                        opacity: 0.9;
                    }
                }
            }  
            b {
                display: block;
                text-align: right;
                padding-right: 70px;
                line-height: 40px;
                a {
                    color: #666;
                    font-size: 16px;
                    text-decoration: underline;
                    &:hover {
                        color: #c00;
                    }
                }
            }
        }
        .quick {
            padding-top: 9px;
            height: 326px;
            strong {
                line-height: 21px;
                font-size: 12px;
                color: #999;
                height: 21px;
                display: block;
                font-weight: normal;
            }
            font.f1 {
                background: url(../img/ling.png) no-repeat 9px 50%;
                color: #dc0f50;
            }
            ul li {
                input {
                    padding-left: 40px;
                    width: 263px;
                }
                button {
                    width: 90px;
                    height: 40px;
                    background: #dc0f50;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    position: absolute;
                    right: 70px;
                    top: 0;
                    line-height: 40px;
                    cursor: pointer;
                    &:hover {
                        filter: alpha(opacity=90);
                        -moz-opacity: 0.9;
                        opacity: 0.9;
                    }
                    &.curr {
                        line-height: 18px;
                        color: #fefefe;
                        background: #d6d6d6;
                    }
                }
            }
        }
    }
}                                      
       

                

                