
.register {
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    padding: 80px;
    .fl {
        width: 590px;
        float: left;
        overflow: hidden;
        ul li {
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
            b {
                display: block;
                width: 80px;
                font-size: 14px;
                color: #666;
                float: left;
                text-align: right;
                margin-right: 12px;
                i {
                    font-family: "宋体";
                    color: #dc0f50;
                    font-size: 14px;
                    margin-right: 3px;                  
                }
            }
            button {
                width: 110px;
                height: 40px;
                border: none;
                text-align: center;
                line-height: 40px;
                background: #dc0f50;
                color: #fff;
                font-size: 14px;
                float: left;
                margin-right: 15px;
                cursor: pointer;
                &:hover {
                    filter: alpha(opacity=90);
                    -moz-opacity: 0.9;
                    opacity: 0.9;
                }
                &.curr {
                    line-height: 19px;
                    color: #fff;
                    background: #d6d6d6;
                }
            }
            em.e1{
                background: url(/../img/error_bg.png) no-repeat 0 center;
                font-size: 14px;
                color: #e92d2f;
                width: auto;
                padding-left: 22px;
                margin: 0;
                line-height: 38px;
                height: 40px;
                }         
            em.e2{
                background: url(/../img/correct_bg.png) no-repeat 0 center;
                font-size: 14px;
                color: #dc0f50;
                width: 156px;
                padding-left: 22px;
                margin: 0;
                line-height: 20px;
                height: 40px;
            }
            input {
                width: 263px;
                padding: 9px 20px;
                height: 20px;
                border: 1px solid #d6d6d6;
                color: #666;
                float: left;
                margin-right: 15px;
                &.text {
                    width: 138px;
                }
            }
            img.d_get_code{
                width:110px;
                height:50px;
                margin:0 46px 0 0;
            }
        }
        p {
            overflow: hidden;
            margin-top: -15px;
            text-align: right;
            padding-right: 193px;
            height: 48px;
            line-height: 48px;
            color: #666;
            font-size: 14px;
            a{
                display: block;
                background: #dc0f50;
                text-align: center;
                font-size: 18px;
                color: #fff;
                &:hover {
                    filter: alpha(opacity=90);
                    -moz-opacity: 0.9;
                    opacity: 0.9;
                }
                &.on{
                    display: inline;
                    background: none;
                    color: #666;
                    font-size: 14px;
                }
            }
            input {
                margin: 0 5px 0 0;
                position: relative;
                top: 2px;
            }
            &.on {
                margin: 0;
                a {
                    width: 305px;
                    float: right;
                    height: 40px;
                    line-height: 40px;
                    &:hover {
                        filter: alpha(opacity=90);
                        -moz-opacity: 0.9;
                        opacity: 0.9;
                    }
                }
            }
        }
        font {
            display: block;
            line-height: 20px;
            text-align: right;
            padding-right: 193px;
            a {
                color: #666;
                font-size: 16px;
                text-decoration: underline;
                &:hover {
                    color: #c00;
                }
                &.on {
                    display: inline;
                    background: none;
                    color: #666;
                    font-size: 14px;
                }
            }
        }
    }
    .fr {
        float: right;
        .cg {
            text-align: center;
            width: 430px;
            padding-top: 31px;
            overflow: hidden;
            i {
                display: block;
                width: 100px;
                height: 100px;
                background: url("") no-repeat;
                margin-bottom: 10px;
                margin: 0 auto;
            }
            span {
                display: block;
                line-height: 45px;
                color: #333;
                font-size: 24px;
                margin-bottom: 50px;
                height: 45px;
                overflow: hidden;
            }
            a {
                display: block;
                width: 140px;
                height: 40px;
                margin: 0 auto;
                background: #67bf75;
                line-height: 40px;
                color: #fff;
                font-size: 18px;
            }
            em {
                display: block;
                line-height: 50px;
                height: 50px;
                color: #999;
                font-size: 14px;
                b {
                    padding: 0 5px;
                    color: #dc0f50;
                }
            }
        }
    }
}
    

        

        

            
